<div class="container-lg py-6 p-responsive text-center">
  <img alt="" class="circle mb-3 img-sm" src="assets/img/me.jpg">
  <h1 class="text-white mb-2 lh-condensed">{{ name }}</h1>
  <p class="mb-3 f4 text-white">
    {{ shortBio }}
  </p>
  <div class="f4 mb-6">
    <div *ngFor="let p of profileBio" class="d-md-inline-block mr-3 text-white">
      <svg [attr.aria-label]="p.label" [attr.class]="p._class" [attr.viewbox]="p.viewBox" [attr.width]="p.width"
           fill="#ffffff" height="20" role="img" version="1.1">
        <path [attr.d]="p.path" fill-rule="evenodd"></path>
      </svg>
      <span *ngIf="p.href.length > 0">
        <a class="text-white" href="{{ p.href }}" target="_blank">
          {{ p.text }}
        </a>
      </span>
      <span *ngIf="p.href.length == 0">
        {{ p.text }}
      </span>
    </div>

    <div class="d-flex flex-wrap flex-items-start flex-justify-center mt-1 mt-md-3">
      <div *ngFor="let s of socialMedia" class="mr-3 mb-3 social-media">
        <a [attr.aria-label]="s.label" [attr.href]="s.href"
           [attr.title]="s.label" class="tooltipped tooltipped-s" target="_blank">
          <span [innerHTML]="s.icon_svg"></span>
          <span class="d-none">{{ s.label }}</span>
        </a>
      </div>
    </div>
  </div>

  <div class="text-white"></div>

  <div class="my-6">
    <h2 class="text-white">My Interests</h2>
    <p class="f4 mb-4 text-white">Topics that I love and want to learn more about.</p>
    <div class="d-flex flex-wrap gutter-condensed mb-4">
      <div *ngFor="let t of topics" class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        <a class="position-relative hover-grow height-full no-underline d-flex flex-column flex-justify-center text-center border border-gray-light rounded-1 bg-white p-5"
          href="{{ t.href }}">
          <img alt="{{ t.name }}" class="mx-auto rounded-1 mb-3" height="64" src="{{ t.src }}" width="64">
          <p class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1">{{ t.name }}</p>
        </a>
      </div>
    </div>
  </div>
</div>
