<h2 class="text-white">My Interests</h2>
<p class="f4 mb-4 text-white">Topics that I love and want to learn more about.</p>
<div class="d-flex flex-wrap gutter-condensed mb-4">
  <div *ngFor="let t of topics" class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <a class="position-relative hover-grow height-full no-underline d-flex flex-column flex-justify-center text-center border border-gray-light rounded-1 bg-white p-5"
      href="{{ t.href }}">
      <img alt="{{ t.name }}" class="mx-auto rounded-1 mb-3" height="64" src="{{ t.src }}" width="64">
      <p class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1">{{ t.name }}</p>
    </a>
  </div>
</div>
